{
  "ConnectionStrings": {
    "DefaultConnection": "Server=MySql server name, example: localhost; Database=your_database_name, example: testdb; user=****; password=****; SSL Mode=None; CharSet=utf8;"
  }
}